In [26]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
#from sklearn.metrics import classification_report ,confusion_matrix
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import seaborn as sb
import pickle

In [27]:
bt1 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_1.csv')
bt2 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_2.csv')
bt3 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_3.csv')
bt4 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_4.csv')
bt5 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_5.csv')
bt6 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_6.csv')
bt7 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_7.csv')
bt8 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_8.csv')
bt9 =pd.read_csv('C:\\Users\\ARKA\\Downloads\\archive (1)\\IRAhandle_tweets_9.csv')

positive_tweets=pd.concat([bt1,bt2,bt3,bt4,bt5,bt6,bt7,bt8,bt9], axis=0)

positive_tweets.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [28]:
positive_tweets.shape

(2973371, 15)

In [29]:
positive_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2973371 entries, 0 to 37554
Data columns (total 15 columns):
external_author_id    float64
author                object
content               object
region                object
language              object
publish_date          object
harvested_date        object
following             int64
followers             int64
updates               int64
post_type             object
account_type          object
new_june_2018         int64
retweet               int64
account_category      object
dtypes: float64(1), int64(5), object(9)
memory usage: 363.0+ MB

In [30]:
positive_tweets.isnull().sum()

external_author_id          4
author                      0
content                     1
region                   8843
language                    0
publish_date                0
harvested_date              0
following                   0
followers                   0
updates                     0
post_type             1662425
account_type              363
new_june_2018               0
retweet                     0
account_category            0
dtype: int64

In [31]:
negative_tweets =pd.read_csv('C:\\Users\\ARKA\\Downloads\\tweets-2016-10000-textonly.txt' , delimiter='\t', header= None)
negative_tweets.to_csv('C:\\Users\\ARKA\\Downloads\\tweets-2016-10000-textonly.csv', index= None)
negative_tweets.columns= ['content']

negative_tweets.head()

                                             content
0  Leaked records show Trump may have avoided tax...
1  Donald Trump vs. Hillary Clinton Debate Cold O...
2  @realDonaldTrump The need is to blow off the "...
3  US-Medien: Trump zahlte womöglich jahrelang ke...
4  #amjoy #cnn #msnbc #Trump has 2 words for #dep...

In [32]:
negative_tweets.shape

(7579, 1)

In [33]:

positive_tweets =positive_tweets.loc[positive_tweets.language == 'English']
positive_tweets=positive_tweets.sample(frac=1)



#positive_tweets.head()

In [34]:
positive_tweets=pd.DataFrame(positive_tweets,columns= ['content'])

#positive_tweets.head()

In [35]:
#labelling the datasets

negative_tweets['label']= 1

#negative_tweets

In [36]:
positive_tweets['label']=0
#positive_tweets

In [37]:
positive_tweets=positive_tweets.iloc[0:9000]

final_dataset=pd.concat([positive_tweets,negative_tweets] , axis=0)
final_dataset=final_dataset.sample(frac=1).reset_index(drop=True)

#final_dataset

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(final_dataset['content'])

pickle.dump(vectorizer, open('transform.pkl', 'wb'))
#print(vectorizer.get_feature_names())

In [39]:
Y=final_dataset['label']
#Y

In [40]:
X_train,X_test,Y_train,Y_test = train_test_split(X , Y ,test_size=0.2 ,random_state = 4)

In [42]:
LogReg= LogisticRegression()
LogReg.fit(X_train, Y_train)

C:\Users\ARKA\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred_en = LogReg.predict(X_test)

In [44]:
y_pred_en

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [45]:
accuracy_score(Y_test, y_pred_en)

0.8992762364294331

In [46]:
pickle.dump(LogReg, open('botsinthenet.pkl', 'wb'))